.matching-scene {
  .party {
    border: 1px solid #ddd;
    margin: 20px;
    padding: 10px;
    position: relative;

    .party__title {
      background-color: #ddd;
      font-size: 1rem;
      margin: -10px -10px 10px;
      padding: 10px;
    }
    .party__member-list {
      margin: 0;
      padding: 5px 0 0;
    }
    .party__member {
      list-style-type: none;
    }
    .party__user-count {
      height: 1rem;
      line-height: 140%;
      text-align: right;
      margin: -1rem 0 10px;
      padding: 0 0 5px;
      border-bottom: 1px solid #ddd;
      font-size: 1rem;
    }
    .party__controlls {
      position: absolute;
      top: 0;
      right: 0;
      padding: 4px;
      font-size: 1rem;
    }
    .party__controlls__button {
      background-color: transparent;
      border-style: none;
      padding: 4px 5px;

      &:hover {
        background-color: rgba(0,0,0,0.2);
      }
    }
  }
}

.input-group {
  display: flex;

  input {
    border: 1px solid #ddd;
    color: #888;
    flex-grow: 1;
  }
  button {
    background-color: #ddd;
    border-style: none;
  }
  & > input,
  & > button {
    font-size: 1.2rem;
  }

  & > :not(:first-child) {
    margin-left: -1px;
  }
}